.App {
  text-align: center;
  background-color: #ededed;
  font-family: 'Pontano Sans', sans-serif;
}

/*Black banner*/
.App-header {
  background-color: black;
  padding: 1rem;
  color: white;
}

/*Movie Cards*/
.App-title {
  font-size: 4rem;
  border: dotted yellow 1.5rem;
  padding: 2rem;
  font-family: 'Actor', sans-serif;
}

/*individual cards */
#card{
  border: solid grey;
  min-width: 40rem;
  max-width: 65rem;
  margin: 2rem auto 0rem auto;
  background-color: white;
}

/*Movie Title*/
h2{
  background: #cccccc;
  text-align: left;
  padding: .6rem;
  margin-top: 0rem;
  padding-left: 1rem;
}

/*image*/
img{
  margin: 2rem 0rem 2rem 0rem;
}

/*Right-hand column*/
#movieInfo{
  list-style-type: none;
  line-height: 200%;
  padding: 1rem;
}

/*Movie Info: headings*/
.item{
  font-weight: bold;
  text-align: right;
}

/*Movie Info: content*/
.info{
  text-align: left;
}

/*Released header and Released Date*/
#top, #top2{
  border-top-color: white;
}

/*Ratings Content*/
#ratings{
  line-height: 90%
}




